Heating/node-red/.flows.json.backup
[
    {
        "id": "heating_tab",
        "type": "tab",
        "label": "🔥 Heating System",
        "disabled": false,
        "info": "Heating system simulation with temperature sensors and heaters"
    },
    {
        "id": "tls_config",
        "type": "tls-config",
        "name": "HiveMQ TLS",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": true,
        "alpnprotocol": ""
    },
    {
        "id": "mqtt_broker",
        "type": "mqtt-broker",
        "name": "HiveMQ Cloud",
        "broker": "910e146c7f1f4c0fa6799235de0cd0fe.s1.eu.hivemq.cloud",
        "port": "8883",
        "tls": "tls_config",
        "clientid": "NodeRED_Heating",
        "autoConnect": true,
        "usetls": true,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "temp_inject_auto",
        "type": "inject",
        "z": "heating_tab",
        "name": "Auto Temperature (30s)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "30",
        "crontab": "",
        "once": true,
        "onceDelay": "3",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 80,
        "wires": [
            [
                "generate_temp"
            ]
        ]
    },
    {
        "id": "generate_temp",
        "type": "function",
        "z": "heating_tab",
        "name": "Generate Temperature",
        "func": "// Simulate Living Room temperature\nconst baseTemp = 20;\nconst variation = Math.random() * 8 - 4;\nconst temperature = +(baseTemp + variation).toFixed(1);\nconst humidity = Math.floor(Math.random() * 30 + 30);\n\nmsg.payload = {\n    sensor_id: 36,\n    temperature: temperature,\n    humidity: humidity,\n    unit: \"C\",\n    action: \"send\",\n    timestamp: new Date().toISOString()\n};\n\nnode.status({fill:\"blue\",shape:\"dot\",text:`${temperature}°C`});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 440,
        "y": 80,
        "wires": [
            [
                "mqtt_temp_out",
                "debug_sensor"
            ]
        ]
    },
    {
        "id": "mqtt_temp_out",
        "type": "mqtt out",
        "z": "heating_tab",
        "name": "→ temperature/get",
        "topic": "temperature/get",
        "qos": "1",
        "retain": "false",
        "broker": "mqtt_broker",
        "x": 830,
        "y": 80,
        "wires": []
    },
    {
        "id": "debug_sensor",
        "type": "debug",
        "z": "heating_tab",
        "name": "Sensor Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "temp_cold",
        "type": "inject",
        "z": "heating_tab",
        "name": "❄️ Cold (17°C)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"sensor_id\":36,\"temperature\":17,\"humidity\":45,\"unit\":\"C\",\"action\":\"send\"}",
        "payloadType": "json",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "mqtt_temp_out",
                "debug_sensor"
            ]
        ]
    },
    {
        "id": "temp_hot",
        "type": "inject",
        "z": "heating_tab",
        "name": "🔥 Hot (25°C)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"sensor_id\":36,\"temperature\":25,\"humidity\":50,\"unit\":\"C\",\"action\":\"send\"}",
        "payloadType": "json",
        "x": 130,
        "y": 200,
        "wires": [
            [
                "mqtt_temp_out",
                "debug_sensor"
            ]
        ]
    },
    {
        "id": "temp_normal",
        "type": "inject",
        "z": "heating_tab",
        "name": "🌡️ Normal (21°C)",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": "",
        "topic": "",
        "payload": "{\"sensor_id\":36,\"temperature\":21,\"humidity\":48,\"unit\":\"C\",\"action\":\"send\"}",
        "payloadType": "json",
        "x": 140,
        "y": 240,
        "wires": [
            [
                "mqtt_temp_out",
                "debug_sensor"
            ]
        ]
    },
    {
        "id": "mqtt_heater_in",
        "type": "mqtt in",
        "z": "heating_tab",
        "name": "← temperature/get",
        "topic": "temperature/send",
        "qos": "1",
        "datatype": "json",
        "broker": "mqtt_broker",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "filter_heater"
            ]
        ]
    },
    {
        "id": "filter_heater",
        "type": "function",
        "z": "heating_tab",
        "name": "Process Heater Command",
        "func": "// Only process messages for heater devices\nif (!msg.payload.device_id) {\n    return null;\n}\n\nconst deviceId = msg.payload.device_id;\nconst state = msg.payload.state;\nconst targetTemp = msg.payload.temperature || 20;\n\n// Store heater state\ncontext.set(`heater_${deviceId}_state`, state);\ncontext.set(`heater_${deviceId}_target`, targetTemp);\n\nnode.status({\n    fill: state === 'on' ? 'red' : 'green',\n    shape: 'dot',\n    text: `Device ${deviceId}: ${state.toUpperCase()} (${targetTemp}°C)`\n});\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 400,
        "y": 360,
        "wires": [
            [
                "heater_status",
                "debug_heater"
            ]
        ]
    },
    {
        "id": "heater_status",
        "type": "function",
        "z": "heating_tab",
        "name": "Heater Status Response",
        "func": "// Simulate heater response\nconst deviceId = msg.payload.device_id;\nconst state = msg.payload.state;\nconst targetTemp = msg.payload.temperature || 20;\n\n// Get current temp from context (from sensor)\nconst currentTemp = context.get('current_temp') || 20;\n\nmsg.payload = {\n    device_id: deviceId,\n    state: state,\n    target_temperature: targetTemp,\n    current_temperature: currentTemp,\n    power_consumption: state === 'on' ? 2000 : 0,\n    action: \"status\",\n    timestamp: new Date().toISOString()\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 660,
        "y": 360,
        "wires": [
            [
                "mqtt_status_out"
            ]
        ]
    },
    {
        "id": "mqtt_status_out",
        "type": "mqtt out",
        "z": "heating_tab",
        "name": "→ temperature/send",
        "topic": "temperature/send",
        "qos": "1",
        "retain": "false",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "mqtt_broker",
        "x": 890,
        "y": 360,
        "wires": []
    },
    {
        "id": "debug_heater",
        "type": "debug",
        "z": "heating_tab",
        "name": "Heater Command",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 400,
        "wires": []
    },
    {
        "id": "comment_sensor",
        "type": "comment",
        "z": "heating_tab",
        "name": "🌡️ Temperature Sensor Simulation",
        "info": "Simulates DHT22 temperature sensor\n- Auto: Publishes every 30 seconds\n- Manual: Test buttons for specific temps\n- Topic: temperature/get",
        "x": 180,
        "y": 40,
        "wires": []
    },
    {
        "id": "comment_heater",
        "type": "comment",
        "z": "heating_tab",
        "name": "🔥 Heater Device Simulation",
        "info": "Simulates smart heater device\n- Subscribes to: temperature/send\n- Responds with status updates\n- Power consumption: 2000W when ON",
        "x": 180,
        "y": 320,
        "wires": []
    }
]