Water/node-red/flows.json
[
  {
    "id": "931db88119518e5e",
    "type": "tab",
    "label": "Test Send MQTT Message",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "593616167e3c2e87",
    "type": "tab",
    "label": "Test Receive MQTT Message",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "5fbb44d3f6bb029f",
    "type": "tls-config",
    "name": "main",
    "cert": "",
    "key": "",
    "ca": "",
    "certname": "",
    "keyname": "",
    "caname": "",
    "servername": "",
    "verifyservercert": true,
    "alpnprotocol": ""
  },
  {
    "id": "2a98ee67c200799e",
    "type": "mqtt-broker",
    "z": "931db88119518e5e",
    "name": "main",
    "broker": "${MQTT_HOST}",
    "port": "${MQTT_PORT}",
    "tls": "5fbb44d3f6bb029f",
    "clientid": "water_sensor_1",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "5",
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "d85133725914be37",
    "type": "mqtt-broker",
    "z": "593616167e3c2e87",
    "name": "Device",
    "broker": "${MQTT_HOST}",
    "port": "${MQTT_PORT}",
    "tls": "5fbb44d3f6bb029f",
    "clientid": "Device",
    "autoConnect": true,
    "usetls": true,
    "protocolVersion": "5",
    "keepalive": 60,
    "cleansession": true,
    "autoUnsubscribe": true,
    "birthTopic": "",
    "birthQos": "0",
    "birthRetain": "false",
    "birthPayload": "",
    "birthMsg": {},
    "closeTopic": "",
    "closeQos": "0",
    "closeRetain": "false",
    "closePayload": "",
    "closeMsg": {},
    "willTopic": "",
    "willQos": "0",
    "willRetain": "false",
    "willPayload": "",
    "willMsg": {},
    "userProps": "",
    "sessionExpiry": ""
  },
  {
    "id": "97617058de474131",
    "type": "inject",
    "z": "931db88119518e5e",
    "name": "Send message from sensor",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "water/get",
    "payload": "{\"device_id\":\"1\",\"water_pressure\":15}",
    "payloadType": "json",
    "x": 260,
    "y": 260,
    "wires": [
      [
        "0a7d05ef1f5c2263"
      ]
    ]
  },
  {
    "id": "856fee043c973461",
    "type": "mqtt out",
    "z": "931db88119518e5e",
    "name": "",
    "topic": "",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "2a98ee67c200799e",
    "x": 790,
    "y": 260,
    "wires": []
  },
  {
    "id": "0a7d05ef1f5c2263",
    "type": "function",
    "z": "931db88119518e5e",
    "name": "Randomize data",
    "func": "console.log(msg.payload);\nmsg.payload.water_pressure = Math.floor(Math.random() * 100);\nconsole.log(msg.payload);\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 560,
    "y": 260,
    "wires": [
      [
        "856fee043c973461"
      ]
    ]
  },
  {
    "id": "7cc59b29ccda0471",
    "type": "mqtt in",
    "z": "593616167e3c2e87",
    "name": "msg",
    "topic": "water/send",
    "qos": "0",
    "datatype": "json",
    "broker": "d85133725914be37",
    "nl": false,
    "rap": true,
    "rh": 0,
    "inputs": 0,
    "x": 330,
    "y": 240,
    "wires": [
      [
        "f6cc373cc4cbdf12",
        "f757f3e82ad3ae0a"
      ]
    ]
  },
  {
    "id": "f6cc373cc4cbdf12",
    "type": "debug",
    "z": "593616167e3c2e87",
    "name": "debug 1",
    "active": true,
    "tosidebar": true,
    "console": true,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 550,
    "y": 240,
    "wires": []
  },
  {
    "id": "f757f3e82ad3ae0a",
    "type": "delay",
    "z": "593616167e3c2e87",
    "name": "",
    "pauseType": "delay",
    "timeout": "10",
    "timeoutUnits": "seconds",
    "rate": "1",
    "nbRateUnits": "1",
    "rateUnits": "second",
    "randomFirst": "1",
    "randomLast": "5",
    "randomUnits": "seconds",
    "drop": false,
    "allowrate": false,
    "outputs": 1,
    "x": 540,
    "y": 360,
    "wires": [
      [
        "4ce89f765758fda2"
      ]
    ]
  },
  {
    "id": "a02ea90bd90ed237",
    "type": "mqtt out",
    "z": "593616167e3c2e87",
    "name": "",
    "topic": "water/get",
    "qos": "",
    "retain": "",
    "respTopic": "",
    "contentType": "",
    "userProps": "",
    "correl": "",
    "expiry": "",
    "broker": "d85133725914be37",
    "x": 960,
    "y": 360,
    "wires": []
  },
  {
    "id": "4ce89f765758fda2",
    "type": "function",
    "z": "593616167e3c2e87",
    "name": "function 1",
    "func": "msg.payload.device = \"received\";\nmsg.topic = \"water/get\";\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 760,
    "y": 360,
    "wires": [
      [
        "a02ea90bd90ed237"
      ]
    ]
  }
]